.coin {
  display: flex;
  flex-direction: column;
}

.coin > span {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 600px) {
  .coin-info {
    display: flex;
    gap: 2rem;
    padding: 1% 2%;
  }

  .coin-market-cap {
    display: none;
  }
}
